{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>NextBill | Ecom</title>
      {% progressive_web_app_meta %}

    <link rel="icon" href="{% static 'logo/logo.png' %}" type="image/gif" sizes="16x16">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.semanticui.min.css">
        <script src="{% static 'sw/app.js' %}"></script>

    {% block css %}

    {% endblock %}
    <style>
        html {
  scroll-behavior: smooth;
}

        .preloader {
            align-items: center;
            background: rgb(23, 22, 22);
            display: flex;
            height: 100vh;
            justify-content: center;
            left: 0;
            position: fixed;
            top: 0;
            transition: opacity 0.3s linear;
            width: 100%;
            z-index: 9999;
        }

        body ::-webkit-scrollbar {
            width: 6px;
        }

        .ui.vertical.menu.sidebar-menu {
            margin-top: 40px !important;
            max-height: calc(100% - 40px) !important;
            height: calc(100% - 40px) !important;
        }

        .ui.vertical.menu.sidebar-menu .item i.icon {
            float: left;
            margin: 0em 0.5em 0em 0em;
        }

        .main-content {
            margin-top: 40px;
        }

        @media (min-width: 768px) {
            .ui.vertical.menu.sidebar-menu {
                visibility: visible;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                width: 15rem !important;
            }

            .main-content {
                margin-left: 15rem;
            }

            .sidebar-menu-toggler {
                display: none !important;
            }
        }

        .custom_search {
            width: 100%;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        .custom_search:focus {
            width: 100%;
        }
    </style>

</head>

<body>
<!-- sidebar -->
<div class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar">
    <div class="item">
        <div class="header">General</div>
        <div class="menu">
            <a class="item" href="{% url 'ecomApp:home' %}">
                <div>
                    <i class="icon home"></i>
                    Home
                </div>
            </a>

            <a class="item" href="{% url 'ecomApp:browse_products' %}">
                <div>
                    <i class="icon shopping basket"></i>
                    Browse Product
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">
            Sales
        </div>
        <div class="menu">
            <a class="item" href="{% url 'ecomApp:booking_list_ecom' %}">
                <div><i class="cogs icon"></i>Order List</div>
            </a>
        </div>
    </div>


    <div class="ui segment inverted">
        <div class="ui tiny olive inverted progress">
            <div class="bar" style="width: 54%"></div>
            <div class="label">NextBill(Ecom)</div>
        </div>

        <div class="ui tiny teal inverted progress">
            <div class="bar" style="width:78%"></div>
            <div class="label">v 0.1.5</div>
        </div>
    </div>
</div>

<!-- sidebar -->
<!-- top nav -->

<nav class="ui top fixed inverted menu">
    <div class="left menu">
        <a href="#" class="sidebar-menu-toggler item" data-target="#sidebar">
            <i class="sidebar icon"></i>
        </a>
        <a href="#" class="header item">
            NextBill
        </a>
    </div>
    {% block search %}
        <div class="ui mini scrolling local search productListSearch" style="margin: 0.5em">
            <div class="ui icon input">
                <input class="prompt custom_search mini" type="text" value="" id="productSearch"
                       placeholder="Search Products...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    {% endblock %}

    <div class="right menu">

        <a onclick="cart()" class="item">
            <i class="cart arrow down icon"></i>
            <div class="ui label green cartCount "
                 style="    position: absolute!important;top: 2px!important;right: 6px!important;padding: 3px;">0
            </div>
        </a>
        <div class="ui dropdown item">
            <i class="user cirlce icon"></i>
            <div class="menu">
                <a href="#" class="item">
                    <i class="info circle icon"></i> Profile</a
                >
                <a href="#" class="item">
                    <i class="wrench icon"></i>
                    Settings</a
                >
                <a href="{% url 'homeApp:logout' %}" class="item">
                    <i class="sign out alternate icon"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>

<!-- top nav -->

<div class="pusher">

    <div class="main-content">
        {% block body %}
            <div class="ui segment">
                <div class="ui breadcrumb">
                    <div class="active section">Home</div>
                </div>
            </div>
            <div class="ui centered grid">

                <div class="sixteen wide tablet nine wide computer column" style="margin-top: 2rem">

                    <div class="ui raised brown segment padded  ">
                        <form class="ui tiny form" id="expenseForm">
                            <h4 class="ui  left aligned  dividing header">Search Customer</h4>

                            <div class="two fields">

                                <div class="field">
                                    <label>Search By Customer</label>
                                    <select class="ui search dropdown" id="customerNameID">
                                        <option value="">Search By Customer</option>
                                        {% for customer in customers %}
                                            <option value="{{ customer.name }}|{{ customer.pk }}"> {{ customer.name }}
                                                - {{ customer.address }}</option>
                                        {% endfor %}

                                    </select>
                                </div>


                                <div class="field" style="padding-top: 1.666em;">
                                    <button type="button" class="ui fluid green button" id="searchBtn"
                                            onclick="GetCustomerDetail()">
                                        <i class="icon search"></i>
                                        Search
                                    </button>
                                    <button type="button" style="display: none" class="ui fluid red button"
                                            onclick="clearDetail()" id="cancelBtn">
                                        <i class="icon cancel"></i>
                                        Clear
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="sixteen wide tablet nine wide computer column" id="cDetailDiv" style="display: none">
                    <h5 class="ui horizontal left aligned divider header">
                        <i class="left align icon"></i>
                        Customer Details
                    </h5>
                    <div class="ui aligned basic segment">
                        <table class="ui unstackable olive table">
                            <thead>
                            <tr>
                                <th>Properties</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td id="cName"></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td id="cAddress"></td>
                            </tr>
                            <tr>
                                <td>Total Billed (₹)</td>
                                <td class="left marked red negative" id="cTotal"></td>
                            </tr>
                            <tr>
                                <td>Total Paid (₹)</td>
                                <td class="left marked green positive" id="cPaid"></td>
                            </tr>
                            <tr>
                                <td>Due (₹)</td>
                                <td class="left marked orange warning" id="cDue">Denied</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center">
                                    <button class="positive mini ui button" onclick="startBooking()">Start Booking
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <input type="hidden" id="cID">
        {% endblock %}
    </div>


</div>
<div class="preloader">
    <div class="ui active dimmer">
        <div class="ui medium text loader">Loading</div>
    </div>
</div>

<div class="ui medium modal" id="cart">
    <i class="close icon"></i>
    <div class="header" style="font-size: 15px;">My Cart <span id="cartItems" class="ui text purple"></span>
        <div class="ui tiny violet label">
            Customer Name : <span id="customerNameCart">N/A</span>
        </div>
    </div>
    <div class="scrolling content">
        <table class="ui unstackable blue table cartTable" id="cartTable">
            <thead>
            <tr>
                <th>SlNo.</th>
                <th>Name</th>
                <th>MRP(₹)</th>
                <th>QTY</th>
                <th>Total(₹)</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
              <div class="ui calendar cartTableDate" id="calender2">
                <label class="ui tiny purple label ">Expected Delivery Date:</label>

                <div class="ui input mini left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date" id="deliveryDate">
                </div>
            </div>
            <div class="ui tiny purple label cartTable">
                Total(₹) : <span id="grandTotal"> 0.00</span>
            </div>

        </table>
        <p id="NoItem">No item added.</p>
    </div>
    <div class="center aligned actions">
        <div class="ui orange button deny" onclick="clearCart()">Clear</div>
        <div class="ui negative button">Cancel</div>
        <button class="ui green button" onclick="confirmOrderModal()">Place Order</button>
    </div>
</div>


<div class="ui basic modal custom" id="delItemModal">
    <div class="ui icon header">
        <i class="archive icon"></i>
        Item will be Deleted.
    </div>
    <div class="content">
        <p style="text-align: center">The Item detail will be deleted, are you sure to delete
            this Item?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button" onclick="cart()">
            <i class="remove icon"></i>
            No
        </div>
        <input type="hidden" id="itemDelID">
        <div class="ui green ok inverted button" onclick="deleteItem()">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>


<div class="ui mini test modal front transition" id="confirmOrderModal"><i
        class="close icon"></i>
    <div class="header">
        Order Confirmation
    </div>
    <div class="content">
        <p>Are you sure you want to place your order?</p>
    </div>
    <div class="actions">
        <div class="ui red button" onclick="cancelOrder()">
            No
        </div>
        <div class="ui green right labeled icon button" onclick="placeOrder()">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script src="https://frontendfunn.github.io/semantic-ui-admin-dashboard-template/js/script.js"></script>

<script>
    $(window).on("load", function () {
        $(".preloader").fadeOut(50);
    });
    var today = new Date();
    $('#calender2')
        .calendar({
                initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
                monthFirst: false,
                type: 'date',
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        return day + '/' + month + '/' + year;
                    }
                },
                popupOptions: {
                    observeChanges: false
                }

            }
        );
    function clearCart() {
        itemArray = [];
        localStorage.setItem("ItemArray", JSON.stringify(itemArray));
        dataCountArray = localStorage.getItem("ItemArray");
        dataCount = JSON.parse(dataCountArray);

        $('.cartCount').html(dataCount.length);
        calculateGrandTotal();

    }


    var ItemArray = JSON.parse(localStorage.getItem("ItemArray"));
    if (null === ItemArray) {
        var itemArray = [];
        localStorage.setItem("ItemArray", JSON.stringify(itemArray));

    }
    var dataCountArray = localStorage.getItem("ItemArray");
    var dataCount = JSON.parse(dataCountArray);

    $('.cartCount').html(dataCount.length);

    function addCart() {
        var id = $('#pID').val();
        var pname = $('#pName').html();
        var pQuantity = $('#pQuantity').val();
        var pUnit = $('#pUnit').html();
        var pMrp = $('#pMrp').html();
        {#        var ItemArray = [];#}
        ItemArray = JSON.parse(localStorage.getItem('ItemArray')) || [];
        if (ItemArray.length === 0) {


            var p = {
                "ProductName": pname,
                "ID": id,
                "Quantity": pQuantity,
                'Unit': pUnit,
                'MRP': pMrp
            };
            ItemArray.push(p);
            localStorage.setItem("ItemArray", JSON.stringify(ItemArray));
            $('.cartCount').html(dataCount.length);
        }
        else {
            var foundCount = 1;
            for (var i = 0; i < ItemArray.length; i++) {
                if (ItemArray[i].ID === id) {
                    ItemArray[i].ProductName = pname;
                    ItemArray[i].Quantity = pQuantity;
                    ItemArray[i].MRP = pMrp;
                    foundCount++;

                }
                localStorage.setItem("ItemArray", JSON.stringify(ItemArray));
            }
            if (foundCount === 1) {
                var p = {
                    "ProductName": pname,
                    "ID": id,
                    "Quantity": pQuantity,
                    'Unit': pUnit,
                    'MRP': pMrp
                };
                ItemArray.push(p);
                localStorage.setItem("ItemArray", JSON.stringify(ItemArray));
            }
            $('body')
                .toast({
                    class: 'success',
                    message: 'Item Added To Cart.'
                })
            ;
        }
        dataCountArray = localStorage.getItem("ItemArray");
        dataCount = JSON.parse(dataCountArray);

        $('.cartCount').html(dataCount.length);
        $('#pQuantity').val(1);
        $('#addToCart').modal('hide');


    }

    function cart() {
        if (dataCount.length === 0) {
            $('#NoItem').css('display', '');
            $('.cartTable').css('display', 'none');
            $('.cartTableDate').css('display', 'none');
            $('#cartItems').html('');

        } else {
            $('.cartTable').css('display', '');
            $('.cartTableDate').css('display', '');
            $('#NoItem').css('display', 'none');
            $('.cartTable tbody').html('');
            dataCount = dataCount.sort(function (a, b) {
                return a.ID - b.ID;
            });
            if (dataCount.length === 1) {
                $('#cartItems').html('( 1 Item )');

            } else {
                $('#cartItems').html('( ' + dataCount.length + ' Items )');
            }
            var grandTotal = 0.0;
            $.each(dataCount, function (index, value) {
                var total = parseFloat(dataCount[index].Quantity) * parseFloat(dataCount[index].MRP);
                $('.cartTable tbody').append('<tr id="' + dataCount[index].ID + '" ><td>' + parseInt(index + 1) + '</td><td id="proName' + dataCount[index].ID + '">' + dataCount[index].ProductName + '</td><td id ="mrp' + dataCount[index].ID + '">' + dataCount[index].MRP + '</td><td><div class="ui right mini labeled input"><input id="QNT' + dataCount[index].ID + '" onkeyup="changeQuantity(' + dataCount[index].ID + ')" type="number" style="max-width:50%" value="' + dataCount[index].Quantity + '" placeholder="Quantity"><div class="ui basic label">' + dataCount[index].Unit + '</div></td><td id ="total' + dataCount[index].ID + '">' + total + '</td><td ></button><button style="font-size:10px;" onclick="delItem(' + dataCount[index].ID + ')" class="ui circular youtube icon button"><i class="trash alternate icon"></i></button></td></tr>');
                grandTotal = grandTotal + total

            });
            $('#grandTotal').html(grandTotal);
        }
        $('#cart').modal('show');
        $('.cartCount').html(dataCount.length);
        $('#customerNameCart').html(localStorage.getItem('customerName'))

    }
    function calculateGrandTotal() {
        var grandTotal = 0.0
        $.each(dataCount, function (index, value) {
            var total = parseFloat(dataCount[index].Quantity) * parseFloat(dataCount[index].MRP);
            grandTotal = grandTotal + total

        });
        $('#grandTotal').html(grandTotal);
    }

    function delItem(id) {
        $('#delItemModal')
            .modal('show')
        ;
        $('#itemDelID').val(id);

    }
    function deleteItem() {
        var id = $('#itemDelID').val();
        $('#' + id).remove();
        {#        var id = $('#deleteItemID').val();#}
        dataCount = $.grep(dataCount, function (e) {
            return e.ID != id
        });
        localStorage.setItem("ItemArray", JSON.stringify(dataCount));
        cart();
        $('body')
            .toast({
                class: 'warning',
                message: 'Item Removed From Cart!',

            })
        ;
        calculateGrandTotal();


    }
    function changeQuantity(id) {
        var q = $('#QNT' + id).val();
        var mrp = $('#mrp' + id).html();
        var result = dataCount.find(({ID}) => ID === "" + id);
        result.Quantity = q;

        var total = parseFloat(q) * parseFloat(mrp);
        $('#total' + id).html(total);
        calculateGrandTotal();


    }

    function showLoading() {
        $('#saveBtn').css('display', 'none');
        $('#saveBtnLoad').css('display', '');

    }
    function hideLoading() {
        $('#saveBtn').css('display', '');
        $('#saveBtnLoad').css('display', 'none');

    }

    $('.ui.productListSearch')
        .search({
            apiSettings: {
                url: '/ecom/product_list_api/1/?searchProduct={query}'
            },
            fields: {
                results: 'data',
                title: 'Name',
                "price": "Category",
                "description": "Address",
            },
            onSelect: function (result) {
                var sortData = $('#productSearch').val();
                {#                    console.log(sortData);#}
                location.href = '/ecom/browse_products/?product=' + sortData;

                {#                $('#customerID').val(result.ID);#}
                {#                     $(getProductList(pageCount));#}


            },
            cache: false,
            minCharacters: 3
        });

    var pageCount = 1;
    $(getProductList(pageCount));


    function getProductList(pageCount) {

        var htmlData = $('#productJsonDiv');
        var sortData = $('#productSearch').val();


        $.ajax({
            type: 'GET',
            url: '/ecom/product_list_api/' + pageCount + '/?searchProduct=' + sortData,
            success: function (response) {

                if (response.message === 'success') {
                    if (response.data.length === 0) {
                        $('body')
                            .toast({
                                class: 'warning',
                                title: 'No More',
                                message: 'No more products to load',
                                showProgress: 'bottom',
                                classProgress: 'grey',
                                position: 'bottom center',

                            });
                    }
                    $.each(response.data, function (index) {
                        htmlData.append('<div class="card"><div class="image"><img src="' + response.data[index].OriImageURL + '" loading="lazy"></div><div class="content"><p class="ui sub header text-capitalize" style="font-size: 14px;">' + response.data[index].Name + '</p><div class="meta"><span class="ui medium green boldtext text">MRP ₹ ' + response.data[index].Mrp + '</span>' + response.data[index].IsAvailable + '</div><div class="description" style="margin-top: 0">' + response.data[index].Category + '</div></div><div class="extra content"><div class="ui green fluid label button center aligned" onclick="addToCart(' + response.data[index].ID + ')"><i class="cart plus icon"></i>Add To Cart</div></div></div>');
                    });


                } else {
                    $('body')
                        .toast({
                            class: 'error',
                            title: 'Something went wrong.',
                            message: 'Please try again.',
                            showProgress: 'bottom',
                            classProgress: 'grey',
                            position: 'top center',

                        });
                }
            },

            error: function () {
                $('body')
                    .toast({
                        class: 'error',
                        title: 'Something went wrong.',
                        message: 'Please try again.',
                        showProgress: 'bottom',
                        classProgress: 'grey',
                        position: 'top center',

                    });
            }
        });

    }


    function loadMore() {
        pageCount++;
        getProductList(pageCount);
        return pageCount;
    }

    function confirmOrderModal() {
        $('#confirmOrderModal')
            .modal('show');
    }
    function cancelOrder() {
        $('#confirmOrderModal')
            .modal('hide');
        $('#cart')
            .modal('show');
    }
    function placeOrder() {
        showLoading()
        var cus = localStorage.getItem('customerName');
        var cusID = localStorage.getItem('customerID');
        var grandTotal = $('#grandTotal').html();
        var deliveryDate = $('#deliveryDate').val();
        var datas = '';
        $('.cartTable tbody tr').each(function () {
            var id = $(this).closest('tr').attr('id');
            var pro = $('#proName' + id).html();
            var mrp = $('#mrp' + id).html();
            var qty = $('#QNT' + id).val();
            var total = $('#total' + id).html();
            datas = datas + '' + id + '|' + pro + '|' + mrp + '|' + qty + '|' + total + '@'
        });

        if (cus === 'N/A' || datas === '' || cusID === 'N/A'|| deliveryDate === '') {
            $('body')
                .toast({
                    class: 'warning',
                    title: 'No Detail',
                    message: 'Please select customer and add items in cart.',
                    showProgress: 'bottom',
                    classProgress: 'white',
                    position: 'top center',

                });
        }
        else {
            data = new FormData();
            data.append('cus', cus);
            data.append('cusID', cusID);
            data.append('datas', datas);
            data.append('grandTotal', grandTotal);
            data.append('deliveryDate', deliveryDate);
            $.ajax({
                type: 'post',
                url: '{% url "ecomApp:add_booking_from_ecom" %}',
                data: data,
                contentType: false,
                cache: false,
                processData: false,


                success: function (response) {
                    if (response.message === 'success') {
                        $('body')
                            .toast({
                                class: 'success',
                                message: 'New order created Successfully.'
                            });

{#                        window.location.href = '/sales/';#}
                        clearCart();
                         $('#confirmOrderModal').modal('hide');
                         localStorage.setItem("customerID", 'N/A');
                        localStorage.setItem("customerName", 'N/A');

                        hideLoading();
                        location.href = "{% url 'ecomApp:booking_list_ecom' %}";

                    }
                    else {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        hideLoading();
                    }

                    return response;
                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                    hideLoading();
                }
            });


        }


    }

</script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.semanticui.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>

{% block js %}
    <script>


        function GetCustomerDetail() {
            var customerNameID = $('#customerNameID').val();


            $.ajax({
                type: 'get',
                url: "{% url 'ecomApp:get_customer_ledger_detail' %}?q=" + customerNameID,

                success: function (response) {

                    if (response.message === 'success') {
                        $('#cDetailDiv').css('display', 'block');
                        $('#searchBtn').css('display', 'none');
                        $('#cancelBtn').css('display', '');
                        $('body')
                            .toast({
                                class: 'success',
                                message: 'Customer details found!'
                            })
                        ;
                        $('#cAddress').html(response.address);
                        $('#cName').html(response.name);
                        $('#cPaid').html(response.paid);
                        $('#cDue').html(response.due);
                        $('#cTotal').html(response.total);
                        $('#cID').val("" + response.id);
                    }
                    else {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'No Detail found!'
                            })
                        ;
                    }

                },

                error: function () {
                    $('#cDetailDiv').css('display', 'none');
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });


        }
        function clearDetail() {
            location.reload();
            {#            localStorage.removeItem("customerID");#}
            {#            localStorage.removeItem("customerName");#}
            localStorage.setItem("customerID", 'N/A');
            localStorage.setItem("customerName", 'N/A');

        }

        function startBooking() {
            var cID = $('#cID').val();
            var customerName = $('#cName').html();
            localStorage.setItem("customerID", cID);
            localStorage.setItem("customerName", customerName);
            location.href = "{% url 'ecomApp:browse_products' %}";
            console.log(localStorage.getItem('customerName'));


        }

    </script>

{% endblock %}
</body>
</html>
