{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>NextBill | Ecom</title>
    <link rel="icon" href="{% static 'logo/logo.png' %}" type="image/gif" sizes="16x16">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>


    {% block css %}

    {% endblock %}
    <style>

        .preloader {
            align-items: center;
            background: rgb(23, 22, 22);
            display: flex;
            height: 100vh;
            justify-content: center;
            left: 0;
            position: fixed;
            top: 0;
            transition: opacity 0.3s linear;
            width: 100%;
            z-index: 9999;
        }

        body ::-webkit-scrollbar {
            width: 6px;
        }

        .ui.vertical.menu.sidebar-menu {
            margin-top: 40px !important;
            max-height: calc(100% - 40px) !important;
            height: calc(100% - 40px) !important;
        }

        .ui.vertical.menu.sidebar-menu .item i.icon {
            float: left;
            margin: 0em 0.5em 0em 0em;
        }

        .main-content {
            margin-top: 40px;
        }

        @media (min-width: 768px) {
            .ui.vertical.menu.sidebar-menu {
                visibility: visible;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                width: 15rem !important;
            }

            .main-content {
                margin-left: 15rem;
            }

            .sidebar-menu-toggler {
                display: none !important;
            }
        }
    </style>

</head>

<body>
<!-- sidebar -->
<div class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar">
    <div class="item">
        <div class="header">General</div>
        <div class="menu">
            <a class="item">
                <div>
                    <i class="icon tachometer alternate"></i>
                    Dashboard
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">
            Administration
        </div>
        <div class="menu">
            <a class="item">
                <div><i class="cogs icon"></i>Settings</div>
            </a>
            <a class="item">
                <div><i class="users icon"></i>Team</div>
            </a>
        </div>
    </div>

    <a href="#" class="item">
        <div>
            <i class="icon chart line"></i>
            Charts
        </div>
    </a>

    <a class="item">
        <div>
            <i class="icon lightbulb"></i>
            Apps
        </div>
    </a>
    <div class="item">
        <div class="header">Other</div>
        <div class="menu">
            <a href="#" class="item">
                <div>
                    <i class="icon envelope"></i>
                    Messages
                </div>
            </a>

            <a href="#" class="item">
                <div>
                    <i class="icon calendar alternate"></i>
                    Calendar
                </div>
            </a>
        </div>
    </div>

    <div class="item">
        <form action="#">
            <div class="ui mini action input">
                <input type="text" placeholder="Search..."/>
                <button class="ui mini icon button">
                    <i class=" search icon"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="ui segment inverted">
        <div class="ui tiny olive inverted progress">
            <div class="bar" style="width: 54%"></div>
            <div class="label">Monthly Bandwidth</div>
        </div>

        <div class="ui tiny teal inverted progress">
            <div class="bar" style="width:78%"></div>
            <div class="label">Disk Usage</div>
        </div>
    </div>
</div>

<!-- sidebar -->
<!-- top nav -->

<nav class="ui top fixed inverted menu">
    <div class="left menu">
        <a href="#" class="sidebar-menu-toggler item" data-target="#sidebar">
            <i class="sidebar icon"></i>
        </a>
        <a href="#" class="header item">
            NextBill | Ecom
        </a>
    </div>

    <div class="right menu">
        <a onclick="cart()" class="item">
            <i class="cart arrow down icon"></i>
            <div class="ui label cartCount "
                 style="    position: absolute!important;top: 2px!important;right: 6px!important;padding: 3px;">0
            </div>
        </a>
        <div class="ui dropdown item">
            <i class="user cirlce icon"></i>
            <div class="menu">
                <a href="#" class="item">
                    <i class="info circle icon"></i> Profile</a
                >
                <a href="#" class="item">
                    <i class="wrench icon"></i>
                    Settings</a
                >
                <a href="{% url 'homeApp:logout' %}" class="item">
                    <i class="sign out alternate icon"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>

<!-- top nav -->

<div class="pusher">

    <div class="main-content">
        {% block body %}
            <div class="ui centered grid">


                <div class="sixteen wide tablet nine wide computer column" style="margin-top: 2rem">
                    <div class="ui raised brown segment padded  ">
                        <form class="ui tiny form" id="expenseForm">
                            <h4 class="ui  left aligned  dividing header">Search Customer</h4>

                            <div class="two fields">

                                <div class="field">
                                    <label>Search By Customer</label>
                                    <select class="ui search dropdown" id="customerNameID">
                                        <option value="">Search By Customer</option>
                                        {% for customer in customers %}
                                            <option value="{{ customer.name }}|{{ customer.pk }}"> {{ customer.name }}
                                                - {{ customer.address }}</option>
                                        {% endfor %}

                                    </select>
                                </div>


                                <div class="field" style="padding-top: 1.666em;">
                                    <button type="button" class="ui fluid green button" id="searchBtn"
                                            onclick="GetCustomerDetail()">
                                        <i class="icon search"></i>
                                        Search
                                    </button>
                                    <button type="button" style="display: none" class="ui fluid red button"
                                            onclick="clearDetail()" id="cancelBtn">
                                        <i class="icon cancel"></i>
                                        Clear
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="sixteen wide tablet nine wide computer column" id="cDetailDiv" style="display: none">
                    <h5 class="ui horizontal left aligned divider header">
                        <i class="left align icon"></i>
                        Customer Details
                    </h5>
                    <div class="ui aligned basic segment">
                        <table class="ui unstackable olive table">
                            <thead>
                            <tr>
                                <th>Properties</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td id="cName"></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td id="cAddress"></td>
                            </tr>
                            <tr>
                                <td>Total Billed (₹)</td>
                                <td class="left marked red negative" id="cTotal"></td>
                            </tr>
                            <tr>
                                <td>Total Paid (₹)</td>
                                <td class="left marked green positive" id="cPaid"></td>
                            </tr>
                            <tr>
                                <td>Due (₹)</td>
                                <td class="left marked orange warning" id="cDue">Denied</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center">
                                    <button class="positive mini ui button" onclick="startBooking()">Start Booking
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <input type="hidden" id="cID">
        {% endblock %}
    </div>


</div>
<div class="preloader">
    <div class="ui active dimmer">
        <div class="ui medium text loader">Loading</div>
    </div>
</div>

<div class="ui medium modal" id="cart">
    <div class="header">My Cart <span id="cartItems" class="ui text purple"></span></div>
    <div class="scrolling content">
        <table class="ui unstackable blue table" id="cartTable">
            <thead>
            <tr>
                <th>SlNo.</th>
                <th>Name</th>
                <th>MRP</th>
                <th>QTY</th>
                <th>Unit</th>
                <th class="right aligned">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>1</td><td>John</td><td>Approved</td><td>Approved</td><td>Approved</td><td >None</td></tr>


            </tbody>
        </table>
    </div>
    <div class="center aligned actions">
        <div class="ui negative button">Cancel</div>
        <button class="ui positive button">Place Order</button>
    </div>
</div>

<script src="https://frontendfunn.github.io/semantic-ui-admin-dashboard-template/js/script.js"></script>

<script>
    $(window).on("load", function () {
        $(".preloader").fadeOut(50);
    });


    var ItemArray = JSON.parse(localStorage.getItem("ItemArray"));
    if (null === ItemArray) {
        var itemArray = [];
        localStorage.setItem("ItemArray", JSON.stringify(itemArray));

    }
    var dataCountArray = localStorage.getItem("ItemArray");
    var dataCount = JSON.parse(dataCountArray);

    $('.cartCount').html(dataCount.length);

    function addCart() {
        var id = $('#pID').val();
        var pname = $('#pName').html();
        var pQuantity = $('#pQuantity').val();
        var pUnit = $('#pUnit').html();
        var pMrp = $('#pMrp').html();
        var ItemArray = [];
        ItemArray = JSON.parse(localStorage.getItem('ItemArray')) || [];
        if (ItemArray.length === 0) {


            var p = {
                "ProductName": pname,
                "ID": id,
                "Quantity": pQuantity,
                'Unit': pUnit,
                'MRP': pMrp
            };
            ItemArray.push(p);
            localStorage.setItem("ItemArray", JSON.stringify(ItemArray));
        }
        else {
            var foundCount = 1;
            for (var i = 0; i < ItemArray.length; i++) {
                if (ItemArray[i].ID === id) {
                    ItemArray[i].ProductName = pname;
                    ItemArray[i].Quantity = pQuantity;
                    ItemArray[i].MRP = pMrp;
                    foundCount++;

                }
                localStorage.setItem("ItemArray", JSON.stringify(ItemArray));
            }
            if (foundCount === 1) {
                var p = {
                    "ProductName": pname,
                    "ID": id,
                    "Quantity": pQuantity,
                    'Unit': pUnit,
                    'MRP': pMrp
                };
                ItemArray.push(p);
                localStorage.setItem("ItemArray", JSON.stringify(ItemArray));
            }
        }
        var dataCountArray = localStorage.getItem("ItemArray");
        var dataCount = JSON.parse(dataCountArray);

        $('.cartCount').html(dataCount.length);
        $('#pQuantity').val(1);
        $('#addToCart').modal('hide');

    }

    function cart() {

        $('#cart').modal('show');

    }
    if (dataCount.length === 0) {
        $('#NoItem').css('display', '');
        $('#HaveItem').css('display', 'none');

    } else {
        $('#HaveItem').css('display', '');
        $('#NoItem').css('display', 'none');
        var htmlData = $('#cartProducts');
        var itemCountInCart = '';
        var totalItemPriceInCart = 0.0;
        var discountInCart = 0.0;
        var totalInCart = 0.0;
        dataCount = dataCount.sort(function (a, b) {
            return a.ID - b.ID;
        });
        if (dataCount.length === 1) {
            $('#cartItems').html('( 1 Item )');

        } else {
            $('#cartItems').html('( ' + dataCount.length + ' Items )');
        }
                 $.each(dataCount, function (index, value) {
                     console.log(dataCount[index]);

                $('#cartTable tbody').append('<tr><td>'+ parseInt(index+1)+'</td><td>'+dataCount[index].ProductName+'</td><td>'+dataCount[index].MRP+'</td><td>'+dataCount[index].Quantity+'</td><td>'+dataCount[index].Unit+'</td><td ></button><button style="font-size:10px;" onclick="delItem(' + index + ')" class="ui circular youtube icon button"><i class="trash alternate icon"></i></button></td></tr>');


            });
    }

</script>
{% block js %}
    <script>


        function GetCustomerDetail() {
            var customerNameID = $('#customerNameID').val();


            $.ajax({
                type: 'get',
                url: "{% url 'ecomApp:get_customer_ledger_detail' %}?q=" + customerNameID,

                success: function (response) {

                    if (response.message === 'success') {
                        $('#cDetailDiv').css('display', 'block');
                        $('#searchBtn').css('display', 'none');
                        $('#cancelBtn').css('display', '');
                        $('body')
                            .toast({
                                class: 'success',
                                message: 'Customer details found!'
                            })
                        ;
                        $('#cAddress').html(response.address);
                        $('#cName').html(response.name);
                        $('#cPaid').html(response.paid);
                        $('#cDue').html(response.due);
                        $('#cTotal').html(response.total);
                        $('#cID').val("" + response.id);
                    }
                    else {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'No Detail found!'
                            })
                        ;
                    }

                },

                error: function () {
                    $('#cDetailDiv').css('display', 'none');
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });


        }

        function clearDetail() {
            location.reload();
            localStorage.removeItem("customerID");
            localStorage.removeItem("customerName");

        }

        function startBooking() {
            var cID = $('#cID').val();
            var customerName = $('#cName').html();
            localStorage.setItem("customerID", cID);
            localStorage.setItem("customerName", customerName);
            location.href = "{% url 'ecomApp:browse_products' %}"


        }

    </script>

{% endblock %}

</body>
</html>
