{% extends 'ecomApp/executiveHome.html' %}
{% block css %}
    <style>
        .ui.card > .content, .ui.cards > .card > .content {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            border: none;
            border-top: 1px solid rgba(34, 36, 38, .1);
            background: 0 0;
            margin: 0;
            padding: 0.2em 0.5em;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 0.8em;
            border-radius: 0;
        }

        @media only screen and (max-width: 767.98px) {

            .ui.four.doubling.cards > .card {
                width: calc(50% - 0.8em);
                margin-left: 0.4em;
                margin-right: 0.4em;
            }
        }

    </style>

{% endblock %}

{% block body %}

    <div class="ui segment">
        <div class="ui four doubling cards" id="productJsonDiv"></div>
    </div>

    <div class="ui tiny modal mini transition  front" id="addToCart"><i
            class="close icon"></i>
        <div class="header">Add To Cart</div>
        <div class="content">
            <table class="ui unstackable blue table">
                <thead>
                <tr>
                    <th>Attributes</th>
                    <th class="right aligned">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Product Name</td>
                    <td class="right aligned" id="pName">None</td>
                </tr>
                <tr>
                    <td>Cat/Brand</td>
                    <td class="right aligned" id="pCat">None</td>
                </tr>
                <tr>
                    <td>MRP (₹)</td>
                    <td class="right aligned" id="pMrp">None</td>
                </tr>
                <tr>
                    <td>Stock</td>
                    <td class="right aligned" id="pStock">Requires call</td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td class="right aligned">
                        <div class="ui mini right labeled input">
                            <input type="number" placeholder="Enter Quantity" id="pQuantity" value="1">
                            <input type="hidden" id="pID">
                            <div class="ui basic label" id="pUnit">
                                N/A
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="actions">
            <button class="ui red deny button">Cancel</button>
            <button class="ui button green" onclick="addCart()">Add</button>
        </div>
    </div>
    <button class="mini ui blue button" style="position: fixed;bottom: 1em;right: 1em;" onclick="loadMore()">Load More
        ..
    </button>
{% endblock %}

{% block js %}
    <script>

        function addToCart(id) {

            $('#addToCart').modal('show');
            $('#pID').val(id);
            GetProductDetail(id);
        }

        function GetProductDetail(id) {


            $.ajax({
                type: 'get',
                url: "{% url 'ecomApp:get_product_detail_for_cart_api' %}?ID=" + id,

                success: function (response) {
                    if (response.message === 'success') {
                        $('#pName').html(response.data["Name"]);
                        $('#pCat').html(response.data["Category"]);
                        $('#pMrp').html(response.data["Mrp"]);
                        $('#pStock').html(response.data["IsAvailable"]);
                        $('#pUnit').html(response.data["Unit"]);
                        $('#pID').val(response.data["ID"]);
                    }
                    else {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'No Detail found!'
                            })
                        ;
                    }

                },

                error: function () {
                    $('#cDetailDiv').css('display', 'none');
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });


        }


    </script>
{% endblock %}