{% extends 'ecomApp/executiveHome.html' %}
{% block css %}
    <style>
        .ui.card > .content, .ui.cards > .card > .content {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            border: none;
            border-top: 1px solid rgba(34, 36, 38, .1);
            background: 0 0;
            margin: 0;
            padding: 0.2em 0.5em;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 0.8em;
            border-radius: 0;
        }

        @media only screen and (max-width: 767.98px) {

            .ui.four.doubling.cards > .card {
                width: calc(50% - 0.8em);
                margin-left: 0.4em;
                margin-right: 0.4em;
            }
        }
    </style>

{% endblock %}

{% block body %}

    <div class="ui segment">
        <div class="ui four doubling cards" id="productJsonDiv">
            {% comment %}          <div class="card"><div class="image"><img src="https://cdn-icons-png.flaticon.com/512/7436/7436436.png"></div><div class="content"><p class="ui sub header text-capitalize" style="font-size: 14px;">Kristy</p><div class="meta"><span class="ui medium green boldtext text">MRP ₹ 2013</span><span class="date">Joined in 2013</span></div><div class="description" style="margin-top: 0">Kristy / Demo.</div></div><div class="extra content"><div class="ui green fluid label button center aligned"><i class="cart plus icon"></i>Add To Cart</div></div></div>

            <div class="card">
                <div class="image">
                    <img src="https://cdn-icons-png.flaticon.com/512/7436/7436436.png">
                </div>
                <div class="content">
                    <p class="ui sub header text-capitalize" style="font-size: 14px;">Kristy</p>
                    <div class="meta">
                        <span class="ui medium green boldtext text">MRP ₹ 2013</span>
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description" style="margin-top: 0">
                        Kristy / Demo.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui green fluid label button center aligned">
                        <i class="cart plus icon"></i>
                        Add To Cart
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="https://cdn-icons-png.flaticon.com/512/7436/7436436.png">
                </div>
                <div class="content">
                    <p class="ui sub header text-capitalize" style="font-size: 14px;">Kristy</p>
                    <div class="meta">
                        <span class="ui medium green boldtext text">MRP ₹ 2013</span>
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description" style="margin-top: 0">
                        Kristy / Demo.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui green fluid label button center aligned">
                        <i class="cart plus icon"></i>
                        Add To Cart
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="https://cdn-icons-png.flaticon.com/512/7436/7436436.png">
                </div>
                <div class="content">
                    <p class="ui sub header text-capitalize" style="font-size: 14px;">Kristy</p>
                    <div class="meta">
                        <span class="ui medium green boldtext text">MRP ₹ 2013</span>
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description" style="margin-top: 0">
                        Kristy / Demo.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui green fluid label button center aligned">
                        <i class="cart plus icon"></i>
                        Add To Cart
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="https://cdn-icons-png.flaticon.com/512/7436/7436436.png">
                </div>
                <div class="content">
                    <p class="ui sub header text-capitalize" style="font-size: 14px;">Kristy</p>
                    <div class="meta">
                        <span class="ui medium green boldtext text">MRP ₹ 2013</span>
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description" style="margin-top: 0">
                        Kristy / Demo.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui green fluid label button center aligned">
                        <i class="cart plus icon"></i>
                        Add To Cart
                    </div>
                </div>
            </div>{% endcomment %}
        </div>
    </div>

    <div class="ui tiny modal mini transition  front" id="addToCart"><i
            class="close icon"></i>
        <div class="header">Add To Cart</div>
        <div class="content">
            <table class="ui unstackable blue table">
  <thead>
    <tr>
      <th>Attributes</th>
      <th class="right aligned">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Product Name</td>
      <td class="right aligned" id="pName">None</td>
    </tr>    <tr>
      <td>Cat/Brand</td>
      <td class="right aligned" id="pCat">None</td>
    </tr>
    <tr>
      <td>MRP (₹)</td>
      <td class="right aligned" id="pMrp">None</td>
    </tr>    <tr>
      <td>Stock</td>
      <td class="right aligned" id="pStock">Requires call</td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td class="right aligned">
          <div class="ui mini right labeled input">
  <input type="number" placeholder="Enter Quantity" id="pQuantity">
              <input type="hidden" id="pID">
  <div class="ui basic label" id="pUnit">
    kg
  </div>
</div>
      </td>
    </tr>
  </tbody>
</table>

        </div>
        <div class="actions">
            <div class="ui red deny button">Cancel</div>
            <button class="ui button green">Add</button>
        </div>
    </div>
    <button class="mini ui blue button" style="position: fixed;bottom: 1em;right: 1em;" onclick="loadMore()">Load More ..</button>
{% endblock %}

{% block js %}
    <script>
        var pageCount = 1;
        $(getProductList(pageCount));


        function getProductList(pageCount) {

            var htmlData = $('#productJsonDiv');
            var sortData = $('#sortProduct').val();


            $.ajax({
                type: 'GET',
                url: '/ecom/product_list_api/' + pageCount + '/?sortBy=' + sortData,
                success: function (response) {

                    if (response.message === 'success') {
                        if (response.data.length === 0) {
                            $('body')
                                .toast({
                                    class: 'warning',
                                    title: 'No More',
                                    message: 'No more products to load',
                                    showProgress: 'bottom',
                                    classProgress: 'grey',
                                    position: 'bottom center',

                                });
                        }
                        $.each(response.data, function (index) {
                            htmlData.append('<div class="card"><div class="image"><img src="' + response.data[index].OriImageURL + '" loading="lazy"></div><div class="content"><p class="ui sub header text-capitalize" style="font-size: 14px;">' + response.data[index].Name + '</p><div class="meta"><span class="ui medium green boldtext text">MRP ₹ ' + response.data[index].Mrp + '</span>' + response.data[index].IsAvailable + '</div><div class="description" style="margin-top: 0">' + response.data[index].Category + '</div></div><div class="extra content"><div class="ui green fluid label button center aligned" onclick="addToCart(' + response.data[index].ID + ')"><i class="cart plus icon"></i>Add To Cart</div></div></div>');
                        });


                    } else {
                        $('body')
                            .toast({
                                class: 'error',
                                title: 'Something went wrong.',
                                message: 'Please try again.',
                                showProgress: 'bottom',
                                classProgress: 'grey',
                                position: 'top center',

                            });
                    }
                },

                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            title: 'Something went wrong.',
                            message: 'Please try again.',
                            showProgress: 'bottom',
                            classProgress: 'grey',
                            position: 'top center',

                        });
                }
            });

        }


        function loadMore() {
            pageCount++;
            getProductList(pageCount);
            return pageCount;
        }
        function addToCart(id) {

             $('#addToCart').modal('show');
                    $('#pID').val(id)
        }


    </script>
{% endblock %}